* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    min-height: 200vh;
}

nav {
    height: 40px;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    z-index: 4;
    background-color: white;
    background-attachment: fixed;
}

label.logo1 {
    font-family: 'Segoe UI', 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 900;
    color: #24252A;
    padding: 0px;
    margin-left: 1vh;
}

.logo1 {
    margin-top: 0;
}

nav ul {
    float: right;
    margin-right: 30px;
    padding: 0;
    margin: 0;
}

nav ul li {
    font-family: 'Lato', sans-serif;
    background-color: white;
    position: sticky;
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 0 10px;
    color: black;
    line-height: 40px;
    margin-top: 0px;
    font-size: 17px;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 0px;
}

nav ul li a:hover {
    color:  #0088a1;
    transition: color 0.4s ease 0s, border-bottom 0.5s ease 0s;
    border-bottom: 2px;
}

nav ul ul {
    position: absolute;
    top: auto;
    justify-content: center;
    display: none;
    margin: auto;
    border-style: groove;
}

nav ul li:hover > ul {
    display: block;
    border-top: 0;
    background-color: white;
}

nav ul li ul li:hover > a {
    background-color: #24252A;
    transition: all 0.4s ease 0s;
    border-bottom: none;
}

nav ul ul li {
    width: 180px;
    float: none;
    padding-top: 0ch;
}

nav ul ul li a {
    border-radius: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
}
  
nav .main-searchbar input[type="text"]{
    border: 0;
    padding: 0;
    width: 0px;
    height: 35px;
    border-radius: 3px;
    transition: all 0.3s ease;
}
  
nav .main-searchbar .search-i{
    position: absolute;
    top: 1px;
    right: 0;
    width: 35px;
    height: 90%;
    background: none;
    border-radius: 3px;
    color: #000000;
    transition: all 0.5s 0.3s ease;
    padding: 0 -20px;
    margin-left: 10px;
}

nav .main-searchbar .search-i:hover {
    color: #0088a1;
    transition: all 0.15s ease-out 0.05s ease-in;
}

nav .main-searchbar .search-i i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
  
nav .main-searchbar .search-i.active{
    background: #062333;
    transition: all 0.3s ease;
    color: white;
    top: 3px;
    right: 5px;
}
  
nav .main-searchbar input[type="text"].active{
    width: 250px;
    padding: 0 10px;
    transition: all 0.5s 0.2s ease;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    color: #ffffff;
    font-size: 64px;
    text-align: center;
    margin-top: 1vh;
    position: absolute;
    margin-top: 1vh;
}

span {
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease, color 1s ease;
    transform: translateY(50px);
    display: inline-block;
    word-spacing: 2em;
}

span.fade {
    opacity: 1;
    transform: translateY(0px);
}

.sec1 {
    width: 100%;
    height: 100vh;
    background: url(bayang.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: color;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(200vh at 50% -100vh);
    z-index: -2;
    background-position: center;
}

.sec1 h3 {
    font-family: montserrat;
    color: black;
    background-color: white;
    letter-spacing: 10px;
    position: absolute;
    margin-top: 22vh;
    text-align: center;
    mix-blend-mode: screen;
    padding: 5px 7px;
    font-weight: 900;
    animation: 1s ease-out 0s 1 slideInFromBot;
}

@keyframes slideInFromBot {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
}

#effect1 {
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1-ket1 {
    font: 700 56px 'Lato', sans-serif;
    text-align: center;
    letter-spacing: 0.2vh;
    position: absolute;
    color: black;
}

#sec2 {
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-ket1 {
    font-family: montserrat;
    font-weight: 0;
    font-size: 20px;
    margin-left: 3px;
    text-align: center;
    margin-top: 7vh;
}

.div-1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    margin-left: 4px;
    font-size: 20px;
}

.p-ket2 {
    font-weight: 400;
    margin-left: 5px;
}

.main-difference td {
    min-width: 100px;
    margin: center;
    text-align: center;
    height: 13vh;
}

.main-difference td:nth-of-type(even) {
    min-width: 84vh;
    text-align: left;
}

.foot {
    background-color: #343236;
    font-family: Lato;
    text-align: center;
    color: white;
}

.foot h4 {
    letter-spacing: 3px;
    padding: 5px;
}

.foot p {
    font-size: smaller;
    color: #e0dce4;
}

.foot ul li .fa {
    background-color: transparent;
    color: white;
    font-size: 30px;
    border-radius: 30px 30px;
    border-style: groove;
    padding: 5px 9px;
    border-color: transparent;
}

.foot ul li .fa:hover {
    background-color: white;
    color: #343236;
    transition: 0.4s ease-in-out;
}

.foot ul li {
    display: inline-flex;
    padding: 10px;
}

.foot ul {
    justify-content: space-around;
    padding: 6px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: montserrat;
    letter-spacing: 6px;
}

.list table td{
    min-width: 200px;
    text-align: center;
}
