* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    min-height: 200vh;
}

nav{
    background: #1b1b1b;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    user-select: none;
  }

nav:after{
    content: '';
    display: table;
  }

nav .logo{
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
  }

nav ul{
    float: right;
    margin-right: 65px;
    list-style: none;
    position: relative;
  }

nav ul li{
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;
  }

nav {
    background: #1b1b1b;
    box-sizing: border-box;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
  }

nav .logo{
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
  }

nav .login-logo a {
    color: white;
    background-color: #1b1b1b;
    display: inline-block;
    top: 0;
    line-height: 70px;
    font-size: 25px;
    right: 24px;
    position: absolute;
}

nav .login-logo {
    margin-right: 40px;
}

nav .login-logo a:hover {
    color: #1BA8DA;
    transition: color 0.4s;
}

nav .login-logo .fas, nav .logo a { 
    color: white;
}

nav ul li{
    float: left;
    background: #1b1b1b;
    margin: 0 5px;
  }

nav ul li li:nth-of-type(even) {
    background-color: #2e2e2e;
}

nav ul li a{
    color: white;
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
  }

nav ul li a:hover{
    color: #1BA8DA;
    border-radius: 5px;
    box-shadow:  0 0 5px #0088A9,
                 0 0 10px #027896;
    transition: color 0.4s;
  }

nav ul ul li a:hover{
    box-shadow: none;
  }

nav ul ul{
    position: absolute;
    top: 90px;
    border-top: 3px solid #1BA8DA;
    opacity: 0;
    visibility: hidden;
    transition: top .4s;
    z-index: 2;
  }

nav ul ul ul{
    border-top: none;
  }

nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
  }

  nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
  }

nav ul ul li a{
    line-height: 50px;
  }

nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 150px;
  }

.submenu,.navbar,input{
    display: none;
  }

.fa-caret-right{
    font-size: 15px;
    margin-left: 40px;
  }
  
  .fa-caret-down{
    font-size: 15px;
    right: 35px;
    color: white;
  }
  

h1 {
    font-family: 'Adobe Garamond Pro';
    font-weight: 900;
    color: #ffffff;
    font-size: 86px;
    text-align: center;
    margin-top: auto;
    position: absolute;
    margin-top: -12vh;
    letter-spacing: 0.8vh;
}

span {
    opacity: 0;
    transition: opacity 1.4s ease, transform 1.4s ease, color 1.1s ease;
    transform: translateY(50px);
    display: inline-block;
    word-spacing: 2em;
}

span.fade {
    opacity: 1;
    transform: translateY(0px);
}

.sec1 {
    width: 100%;
    height: 100vh;
    background: url(bayang.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: color;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(200vh at 50% -100vh);
    z-index: -2;
    background-position: center;
}

.sec1 h3 {
    font-family: montserrat;
    color: black;
    background-color: white;
    letter-spacing: 10px;
    position: absolute;
    margin-top: 22vh;
    text-align: center;
    mix-blend-mode: screen;
    padding: 5px 7px;
    font-weight: 900;
    animation: 1.3s ease-out 0s 1 slideInFromBot;
}

@keyframes slideInFromBot {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
}

#effect1 {
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1-ket1 {
    font: 700 56px 'Lato', sans-serif;
    text-align: center;
    letter-spacing: 0.2vh;
    position: absolute;
    color: black;
}

#sec2 {
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-ket1 {
    font-family: montserrat;
    font-weight: 0;
    font-size: 20px;
    margin-left: 3px;
    text-align: center;
    margin-top: 7vh;
}

.div-1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    margin-left: 4px;
    font-size: 20px;
}

.p-ket2 {
    font-weight: 400;
    margin-left: 5px;
}

.main-difference td {
    min-width: 100px;
    margin: center;
    text-align: center;
    height: 13vh;
}

.main-difference td:nth-of-type(even) {
    min-width: 84vh;
    text-align: left;
}

.foot {
    background-color: #343236;
    font-family: Lato;
    text-align: center;
    color: white;
}

.foot h4 {
    letter-spacing: 3px;
    padding: 5px;
}

.foot p {
    font-size: smaller;
    color: #e0dce4;
}

.foot ul li svg {
    background-color: transparent;
    color: white;
    font-size: 30px;
    border-radius: 30px 30px;
    border-style: groove;
    padding: 5px 9px;
    border-color: transparent;
    cursor: pointer;
}

.foot ul li svg:hover {
    background-color: white;
    color: #343236;
    transition: 0.4s ease-in-out;
}

.foot ul li {
    display: inline-flex;
    padding: 10px;
}

.foot ul {
    justify-content: space-around;
    padding: 6px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: montserrat;
    letter-spacing: 6px;
    font-size: 10px;
}

.list table td{
    min-width: 200px;
    text-align: center;
}
